<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Привет, {{name}}. Через 10 лет тебе будет {{age}}</p>
<p><a href="http://127.0.0.1:5000/gaus">Если нужен лучший считатель СЛУ 3 на 3</a></p>
    <img src="static/1.gif" width="480">
    <img src="static/2.gif">
<form action="/" method="GET">
  name = <input type="text" name="name" />
  age = <input type="text" name="age">
    <input type="submit" value="Get!">

</form>

</body>
</html>